In [1]:
mylist = [1,2,3,4,5,6,7,8,9,10]

In [2]:
for num in mylist:
    print(num)

1
2
3
4
5
6
7
8
9
10

In [3]:
for amongus in mylist:
    print(amongus)

1
2
3
4
5
6
7
8
9
10

In [4]:
for num in mylist:
    print('auto')

auto
auto
auto
auto
auto
auto
auto
auto
auto
auto

# Vyhledani sudych cisel

In [5]:
for num in mylist:
    if num % 2 == 0:
        print(num)

2
4
6
8
10

# Vyhledani sudych a lichych cisel

In [7]:
for num in mylist:
    if num % 2 == 0:
        print(num)
    else:
        print(f'odd number: {num}')

odd number: 1
2
odd number: 3
4
odd number: 5
6
odd number: 7
8
odd number: 9
10

------------------------------------------------------------------------------------------------------------------

In [9]:
for letter in 'Hello World!':
    print(letter)

H
e
l
l
o

W
o
r
l
d
!

# For tuples

In [11]:
box = (1,2,3)

for item in box:
    print(item)

1
2
3

In [12]:
mylist = [(1,2),(3,4),(5,6)]

In [14]:
len(mylist)

3

In [15]:
for item in mylist:
    print(item)

(1, 2)
(3, 4)
(5, 6)

In [16]:
for (a,b) in mylist:
    print(a)
    print(b)

1
2
3
4
5
6

In [18]:
for (a,b) in mylist:
    print(a)

1
3
5

In [19]:
for (a,b) in mylist:
    print(b)

2
4
6

In [20]:
mylist = [(1,2,3),(5,6,7),(9,10,11)]

In [21]:
mylist

[(1, 2, 3), (5, 6, 7), (9, 10, 11)]

In [23]:
for num in mylist:
    print(num)

(1, 2, 3)
(5, 6, 7)
(9, 10, 11)

In [24]:
for (a,b,c) in mylist:
    print(b)

2
6
10

# For dictionaries

In [25]:
d = {'k1':1,'k2':2,'k3':3}

In [26]:
d

{'k1': 1, 'k2': 2, 'k3': 3}

In [27]:
for items in d:
    print(items)

k1
k2
k3

In [29]:
for items in d.items():
    print(items)

('k1', 1)
('k2', 2)
('k3', 3)

In [30]:
for (key,value) in d.items():
    print(value)

1
2
3